<% var title = 'Home' %>
<%- include('layout', { body: `
<div class="hero">
  <h1>Build faster with our SaaS platform</h1>
  <p>Everything you need to ship your product.</p>
  <div class="hero-actions">
    <a href="/signup" class="btn btn-primary btn-lg">Get Started Free</a>
    <a href="/pricing" class="btn btn-lg">View Pricing</a>
  </div>
</div>
` }) %>
